body {
  text-align: center;
  margin: 50px;
}

#todo_container {
  padding-top: 20px;
  display: inline-block;
}
#select {
  margin: 0em;
  display: none;
}

.todo-list-element {
  padding-top: 20px;
  height: 50px;
  text-align: center;
}

.box {
  padding-right: 20px;
}
.todo-list-element-title {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  width: 50px;
}
