body {
  text-align: center;
  margin: 50px;
}

#todo_container {
  padding-top: 20px;
  display: inline-block;
}

.dropbtn {
  text-shadow: none;
  display: none;
  text-align: center;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-radius: 2px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-filter {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
}

.dropdown-content-filter a {
  color: black;
  padding: 9px 8px;
  text-decoration: none;
  display: block;
}
.dropdown-content-filter a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content-filter {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gray;
}

.todo-list-element {
  padding-top: 20px;
  height: 50px;
  text-align: center;
}

.box {
  padding-right: 20px;
}
.todo-list-element-title {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  width: 50px;
}
